{% extends 'index1.html' %} <!-- Extend your base template -->

{% block content %}
    <h1>Patients List</h1>

    {% if patients %}
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Birth Date</th>
                    <th>Added By</th>
                    <th>Phone-number</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                {% for patient in patients %}
                    <tr>
                        <td><a href="{% url 'patients-data' patient.id %}">{{ patient.id }}</a></td>
                        <td>{{ patient.first_name }}</td>
                        <td>{{ patient.last_name }}</td>
                        <td>{{ patient.birthDate }}</td>
                        <td>{{ patient.added_by }}</td>
                        <td>{{ patient.phone }}</td>
                        <td>{{ patient.address }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
      
    {% else %}
        <p>No patients found.</p>
    {% endif %}
{% endblock %}


    <p><a href="{% url 'patient-list' %}">Back to Patient List</a></p>
</body>
</html>

