{% extends 'index1.html' %} <!-- You can change this to your base template -->

{% block content %}
    <h1>Patients List</h1>

    {% if patients %}
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Birth Date</th>
                    <th>Added By</th>
                </tr>
            </thead>
            <tbody>
                {% for patient in patients %}
                    <tr>
                        <td>{{ patient.id }}</td>
                        <td>{{ patient.first_name }}</td>
                        <td>{{ patient.last_name }}</td>
                        <td>{{ patient.birthDate }}</td>
                        <td>{{ patient.added_by }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        

    {% else %}
        <p>No patients available.</p>
        <h3><a href="{% url 'register-patient' %}">Add new patient</a></h3>
    {% endif %}
{% endblock %}
